@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');



body{
   background-color:#f8f9fa!important;
   padding: 20px !important;
   font-family: 'Zen Dots', cursive !important;
}

.con{
    background-color: #fff !important;
    height: 100vh !important;
}

.left{
    margin-top: 100px !important;
}

.button{
    margin-top: 50px !important;
}